#map {
  width : 100%;
  height : 50vh;
  /* 흠...... float 으로 해야하나 흠 */
  /* 이건 레이아웃 수업 보고 해보자*/
  /* float : right; */
}

#map-show-detail-info {
  z-index: 3;
  position: absolute;
  background-color:#91a7ff;
  top: 5%;
  right: 2%;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  opacity: 0.7;
  font-size:20px
}

#map-add-user-park {
  position: absolute;
  background-color:white;
  bottom:50%;
  left:2%;
  z-index:4;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  font-size:10px
}

#map-not-add-user-park {
  position: absolute;
  background-color:white;
  bottom:70%;
  left:2%;
  z-index:5;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  font-size:10px
}

#map-add-user-park-input-page {
  position: absolute;
  background-color:white;
  bottom:30%;
  left:2%;
  z-index:6;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  font-size:10px
}

#handleSize {
  position: absolute;
  background-color:white;
  top:5%;
  left:2%;
  z-index:2;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  font-size:20px
}